$media_xs: 330px;
$media_sm: 576px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1130px;

// @NOTE Лучше использовать CSS переменные, а не переменные SCSS (SASS). CSS переменные дают больше возможностей. Напримре, изменять их значение в реальном времени через JS. С SCSS переменными такое не получится.
/* @NOTE 
	Лучше давать названия переменным цветов по смыслу, по их использованию. 
	Например, у нас на сайте цвет у текста в основном белый, в некоторых местах встречается синий текст. 
	Значит, переменная с белым цветом будет  называться $tx-primary (primary -- главный, основной, первичный), а цвет текста, который будет использоваться не так часто будет называться $tx-secondary
*/
$white: #ffffff;
$gold: #ffc977;
$lilac: #c980fe;
$grey: #d9d9d9;
$greyMed: #bfbfbf;
$greyDark: #8c8c8c;
